h1{
    text-align: center;
    font-size: 110px;
    background-image: url(flag.jpg);
    background-size: contain;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}